<div class="row">
  <div class="col-xs-12">
    <img  
      alt="Recipe name" 
      class="img-responsive"
      style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group">
      <button 
        type="button" 
        class="btn btn-primary dropdown-toggle">
          Manage recipe
      </button>
      <ul class="dropdown-menu">
        <li>
          <a 
            class="dropdown-item" 
            style="cursor: pointer;"
            href="#">
              Add to shopping list
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            style="cursor: pointer;"
            href="#">
              Edit recipe
          </a>
        </li>
        <li>
          <a 
            class="dropdown-item"
            style="cursor: pointer;">
              Delete recipe
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Inredients
  </div>
</div>