<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success mr-2">
      New recipe
    </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a 
      style="cursor: pointer;"
      class="list-group-item clearfix"
      *ngFor="let recipe of recipes">
      <div class="float-start">
        <h4>{{ recipe.name }}</h4>
        <p>{{ recipe.description }}</p>
      </div>
      <span class="float-end">
        <img 
          [src]="recipe.imagePath" 
          alt="{{ recipe.name }}" 
          class="img-responsive" 
          style="max-height: 70px;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

<!-- String interpolation with the normal HTML attribute -->
<!-- src="{{ recipe.imagePath }}"  -->

<!-- Directly binding to the source property of the image -->
<!-- [src]="recipe.imagePath"  -->